{% load static %}
{% load md5url %}
<!DOCTYPE html>
<html>

<head>
  <title>Block</title>
</head>

<body>
<h4>「for文のプログラムです。」を10回表示するブロックを作成してください。</h4>
  <!-- XMLでツールボックスを定義 -->
  <xml style="display: none" id="toolbox" xmlns="https://developers.google.com/blockly/xml">
    <category name="分岐" colour="220">
      <block type="controls_if"></block>
      <block type="controls_ifelse"></block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
    </category>
    <category colour="#5ba55b" name="ループ">
      -<block type="controls_repeat_ext">
        -<value name="TIMES">
          -<shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
      </block>
      -<block type="controls_whileUntil">
        <field name="MODE">WHILE</field>
      </block>
      -<block type="controls_for">
        <field id="s6vrUO]l|4kGi^^tw_m?" name="VAR">i</field>
        -<value name="FROM">
          -<shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        -<value name="TO">
          -<shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
        -<value name="BY">
          -<shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      -<block type="controls_forEach">
        <field id="=4:vmRC8pbpX6myK#%I+" name="VAR">j</field>
      </block>
      -<block type="controls_flow_statements">
        <field name="FLOW">BREAK</field>
      </block>
    </category>
    <category colour="#5b67a5" name="数値">
      -<block type="math_number">
        <field name="NUM">0</field>
      </block>
      -<block type="math_arithmetic">
        <field name="OP">ADD</field>
        -<value name="A">
          -<shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        -<value name="B">
          -<shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      -<block type="math_single">
        <field name="OP">ROOT</field>
        -<value name="NUM">
          -<shadow type="math_number">
            <field name="NUM">9</field>
          </shadow>
        </value>
      </block>
      -<block type="math_trig">
        <field name="OP">SIN</field>
        -<value name="NUM">
          -<shadow type="math_number">
            <field name="NUM">45</field>
          </shadow>
        </value>
      </block>
      -<block type="math_constant">
        <field name="CONSTANT">PI</field>
      </block>
      -<block type="math_number_property">
        <mutation divisor_input="false" />
        <field name="PROPERTY">EVEN</field>
        -<value name="NUMBER_TO_CHECK">
          -<shadow type="math_number">
            <field name="NUM">0</field>
          </shadow>
        </value>
      </block>
      -<block type="math_round">
        <field name="OP">ROUND</field>
        -<value name="NUM">
          -<shadow type="math_number">
            <field name="NUM">3.1</field>
          </shadow>
        </value>
      </block>
      -<block type="math_on_list">
        <mutation op="SUM" />
        <field name="OP">SUM</field>
      </block>
      -<block type="math_modulo">
        -<value name="DIVIDEND">
          -<shadow type="math_number">
            <field name="NUM">64</field>
          </shadow>
        </value>
        -<value name="DIVISOR">
          -<shadow type="math_number">
            <field name="NUM">10</field>
          </shadow>
        </value>
      </block>
      -<block type="math_constrain">
        -<value name="VALUE">
          -<shadow type="math_number">
            <field name="NUM">50</field>
          </shadow>
        </value>
        -<value name="LOW">
          -<shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        -<value name="HIGH">
          -<shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
      </block>
      -<block type="math_random_int">
        -<value name="FROM">
          -<shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
        -<value name="TO">
          -<shadow type="math_number">
            <field name="NUM">100</field>
          </shadow>
        </value>
      </block>
      <block type="math_random_float" />
    </category>

    <category name="変数の作成" colour="330" custom="VARIABLE">
    </category>
    <category name="テキスト入出力" colour="150">
      <block type="text"></block>
      <block type="text_print"></block>
    </category>
    <category name="その他">
      <block type="go_left"></block>
      <block type="go_right"></block>
      <block type="go_up"></block>
      <block type="go_down"></block>
      <block type="test"></block>
    </category>
  </xml>
  <!-- ワークスペースのエリア -->
  <div id="blocklyDiv" style="height: 450px; width: 800px;"></div>

  <button id="showCode">JavaScriptを表示する</button>
  <pre id="pre1"></pre>
  <pre id='jsCode'></pre>
  <button onclick="runJavaScript(event)">実行</button>
  <p id="buttonRow">
    <span>
      {% if user.is_authenticated %}
      <!-- <input type="file" id="file"> -->
      <button onclick="restoreBlocksFrom('test.txt')" id="restoreButton">復元</button> &nbsp;&nbsp;

<input type="file" id="file">

      <button onclick="saveBlocks()" id="saveButton">保存</button>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="共有する際のテキストをここに入れる" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- 
LINE共有 
<div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="ここにURL" data-color="default" data-size="small" data-count="true" data-ver="3" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script> -->

<div class="line-it-button" data-lang="ja" data-type="share-a" data-env="REAL" data-url="http://127.0.0.1:8000/enzan" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

{% else %}
<button id="login_button" type="button"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">ログイン</a></button>
{% endif %}

    </span>
  </p>
  <pre id="pre1"></pre>
  <!-- <input type="file" id="file"> -->
  <pre id='jsCode'></pre>


  <script>
    //Blocklyをdivにはめ込み
    var demoWorkspace = Blockly.inject('blocklyDiv',
      {
        media: 'blockly/media/',
        toolbox: document.getElementById('toolbox')
      });
    //Blockly.Xml.domToWorkspace(document.getElementById('startBlocks'),
    //workspace);

    function genJavaScript() {
      Blockly.JavaScript.INFINITE_LOOP_TRAP = null;
      var code = Blockly.JavaScript.WorkspaceToCode(demoWorkspace);
      //document.getElementById('code_output').value=code;
      eval(code);
    }

    function runJavaScript(event) {
      Blockly.JavaScript.addReservedWords('code');
      var code = Blockly.JavaScript.workspaceToCode(demoWorkspace);
      try {
        eval(code);
      } catch (e) {
        alert(e);
      }
    }

    function showCode() {
      //Generate Processing code and display it.
      Blockly.Processing.INFINITE_LOOP_TRAP = null;
      var code = Blockly.Processing.workspaceToCode(workspace);
      alert(code);
    }
    function showXml() {
      var xml = Blockly.Xml.workspaceToDom(workspace);
      var code = Blockly.Xml.domToPrettyText(xml);
      alert(code);
    }

    /** ローカルストレージに保存するときのキー接頭辞 */
    var savedBlockPrefix = '/static/assets/';

    //* ブロックを保存 */
    function saveBlocks() {
      //if ('localStorage' in window) {
      //  var name = null;
      //  while (!name) {
      //    name = window.prompt('プログラム名を入力してください');
      //    if (!name) { return; } // ignore if empty
      //    if (window.localStorage[savedBlockPrefix + name]) {
      //      if (!window.confirm(name + ' は存在します。上書きしますか?')) {
      //        name = null;
      //      }
      //    }
      //  }
      name = savedBlockPrefix + name;
      var xml = Blockly.Xml.workspaceToDom(workspace);
      alert(Blockly.Xml.domToText(xml));
      const blob = new Blob([Blockly.Xml.domToText(xml)], { type: "text/plain" });
      const link = document.createElement('a');
      link.href = URL.createObjectURL(blob);
      link.download = savedBlockPrefix + 'test.txt';
      link.click();
      //window.localStorage.setItem(name, Blockly.Xml.domToText(xml));
    }

    //復元
    function restoreBlocksFrom(name) {
      const file = document.getElementById('file').files[0];
      //alert(file.size);
      const reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function () { // 読みんこんだ後のコールバック
        const pre = document.getElementById('pre1');
        pre.innerHTML = reader.result;
        //alert("1" + reader.result);
        var xml = Blockly.Xml.textToDom(reader.result);//window.localStorage[name]);
        //alert("2" + xml);
        workspace.clear();
        Blockly.Xml.domToWorkspace(xml, workspace);
      };



    }

    function cancelRestoreBlocks() {
      var modal = document.getElementById('restoreModal');
      modal.style.display = 'none';
    }

    function pressCancelRestoreBlocks(event) {
      var modal = document.getElementById('restoreModal');
      if (event.target == modal) {
        cancelRestoreBlocks();
      }
    }




  </script>


<!-- <button id="next" type="button"><a href="{% url 'learning:question2' %}">次の問題</a></button> -->

  <script src="{% md5url 'js/google-blockly/blockly_compressed.js' %}"></script>
  <script src="{% md5url 'js/google-blockly/blocks_compressed.js' %}"></script>
  <script src="{% md5url 'js/google-blockly/javascript_compressed.js' %}"></script>
  <script src="{% md5url 'js/google-blockly/processing_compressed.js' %}"></script>
  <script src="{% md5url 'js/google-blockly/msg/js/ja.js' %}"></script>
  <script src="{% md5url 'js/mycode.js' %}"></script>
  <script src="{% md5url 'js/index.js' %}"></script>
</body>

<style>

  h4 {
    float: right;
    padding-right: 10%;

  }
</style>


</html>