
{% extends 'base.html' %}
{% load md5url %}
{% load static %}

{% block titile %}入学促進学習サイト{% endblock %}
{% block content %}
<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                O-learning
                <!-- <span class="text-primary">学習サイト</span> -->

            </h1>
            <!-- <style>
                h1{
                    font-size: 140px;
                    margin-left: 120px;
                }
            </style> -->
        </div>
    </section>
</div>
{% endblock %}
